@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Confirmation de réservation";
}

<div class="row bgBlanc">
    <i class="fas fa-check txtVert"></i>
    <div>Votre demande de réservation a bien été envoyée.</div>
</div>
