@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "À propos";
}

<div class="row bgBlanc">
    <div class="col-md-6 colonne-padding image img-apropos"></div>
    <div class="col-12 col-md-6 colonne-padding">
        <h1 class="txtJaune">Notre famille</h1>
        La famille Zhào oeuvre dans le domaine de la restauration de génération en génération depuis 1954. Celle-ci est réputée pour offrir
        des mets d'une qualité exceptionnelle, et ce, dans une ambiance chaleureuse. Venez passer une agréable soirée avec nous, vous serez
        enchanté de déguster un de nos délicieux repas et vous serez traité avec soin par un de nos dévoués employés.
    </div>
</div>