@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row bgBlanc">
    <div class="col-12 col-md-6 colonne-padding text-center">
        <h1 class="txtJaune">Contact</h1>
        <div>1748, rue Saint-Joseph</div>
        <div>Saint-Jean-sur-Richelieu</div>
        <div>Québec, J2W 1R5</div>
        <div>450-555-5555</div>
        <div>infozhao@gmail.com</div>
        <div class="ouverture">Heures d'ouverture: Lundi au vendredi de 11h00 à 23h00</div>
    </div>
    <div class="col-md-6 colonne-padding image img-contact"></div>
</div>
