<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zhào</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css" integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="container">
        <div class="row d-flex justify-content-between text-center txtJaune">
            <div class="col-6 col-sm-4 header-contact">
                450-555-5555
            </div>
            <div class="col-sm-4 header-contact courrielAccueil">
                infozhao@gmail.com
            </div>
            <div class="col-6 col-sm-4 header-contact">
                Lun-ven 11:00-23:00
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm border-bottom border-top mb-3">
            <div class="container navbar-container">
                <a class="navbar-brand txtVert" asp-area="" asp-controller="Home" asp-action="Index">Zhào</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon d-flex justify-content-center align-items-center"><i class="fas fa-bars txtVert"></i></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link txtBlanc" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link txtBlanc" asp-area="" asp-controller="APropos" asp-action="Index">À&nbsp;propos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link txtBlanc" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Menu" asp-action="TelechargerMenu">Télécharger le menu</a>
                                <a class="dropdown-item" asp-controller="Menu" asp-action="TelechargerCarteVins">Télécharger la carte des vins</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link txtBlanc" asp-area="" asp-controller="Galerie" asp-action="Index">Galerie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link txtBlanc" asp-area="" asp-controller="Evaluation" asp-action="Create">Évaluation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link txtBlanc" asp-area="" asp-controller="Promotion" asp-action="Index">Promotions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link txtBlanc" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-jaune-menu" asp-area="" asp-controller="Reservation" asp-action="Create">Réservations</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container content">

        @RenderBody()

    </div>

    <footer class="txtBlanc d-flex justify-content-between">
        <div>
            &copy; Karine Dunberry, Tous droits réservés
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
