@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center mainHome">
    <div class="logoZhao txtVert">Zhào</div>
    <a href="/Reservation/Create" class="btn-jaune-border">Réservation</a>
</div>
