@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Galerie";
}


<div class="row bgBlanc">
    <h1 class="text-center col-12 txtJaune">Galerie de photos</h1>
    <div class="col-12 col-sm-6 col-md-4">
        <img class="img-fluid img-thumbnail" src="/images/galerie/drew-taylor-unsplash-poulet-brocoli-orange.jpg" alt="assiette de poulet, brocoli et orange" />
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <img class="img-fluid img-thumbnail" src="/images/galerie/obi-onyeador-unsplash-riz-legumes.jpg" alt="assiette de riz aux légumes" />
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <img class="img-fluid img-thumbnail" src="/images/galerie/aditya-romansa-unsplash-cuisinier.jpg" alt="cuisinier dans une cuisine" />
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <img class="img-fluid img-thumbnail" src="/images/galerie/reeet-jank-unsplash-dumpling-sauce.jpg" alt="assiette de dumplings avec sauce" />
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <img class="img-fluid img-thumbnail" src="/images/galerie/the-creative-exchange-unsplash-3soupes-journal.jpg" alt="table de 3 soupes avec journal" />
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <img class="img-fluid img-thumbnail" src="/images/galerie/van-thanh-unsplash-buffet chinois.jpg" alt="buffet chinois" />
    </div>

</div>

