@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header class="row bgBlanc margin-sm">
    <h1 class="txtJaune">@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>