@model TP1_KarineDunberry.Models.Promotion

@{
    ViewData["Title"] = "Créer une promotion";
}



<div class="row bgBlanc margin-sm">
    <div class="col-12 col-md-6 colonne-padding">
        <h1 class="txtJaune">Créer une promotion</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TypePromotion" class="control-label"></label>
                @Html.DropDownListFor(m => m.TypePromotion, Html.GetEnumSelectList(typeof(TypePromotion)), "Sélectionner promotion",
                                    new { @class = "form-control", autofocus = "autofocus" })
                <span asp-validation-for="TypePromotion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TauxApplicable" class="control-label"></label>
                <input asp-for="TauxApplicable" class="form-control" />
                <span asp-validation-for="TauxApplicable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDébut" class="control-label"></label>
                <input type="date" asp-for="DateDébut" class="form-control" />
                <span asp-validation-for="DateDébut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateFin" class="control-label"></label>
                <input type="date" asp-for="DateFin" class="form-control" />
                <span asp-validation-for="DateFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn-jaune-menu btn-form" /> |
                <a asp-action="IndexAdministrateur" class="txtJaune link-table">Retour</a>
            </div>
        </form>
    </div>
    <div class="col-md-6 colonne-padding image img-promo-create"></div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
